<template>

  <header id="page-header" v-show="isLogged && !isregisterform">
    <div class="content-header">
      <div>
          <button type="button" class="btn btn-dual mr-1" data-toggle="layout" data-action="sidebar_toggle">
              <i class="fa fa-fw fa-bars"></i>
          </button>
      </div>
      <div>
          <div class="dropdown d-inline-block">
              <button type="button" class="btn btn-dual" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-fw fa-user d-sm-none"></i>
                  <span class="d-none d-sm-inline-block">Admin</span>
                  <i class="fa fa-fw fa-angle-down ml-1 d-none d-sm-inline-block"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="page-header-user-dropdown">
                  <div class="bg-primary-darker rounded-top font-w600 text-white text-center p-3">
                      Procrédito Opciones
                  </div>
                  <div class="p-2">
                      <router-link  tag="a" class="dropdown-item" to="/profile" v-if="isLogged">
                        <i class="far fa-fw fa-user mr-1"></i> {{ $t('navigation.my_account') }}
                      </router-link>
                      <div role="separator" class="dropdown-divider"></div>
                      <router-link tag="a" class="dropdown-item" to="/register" v-if="isLogged">
                        <i class="far fa-fw fa-arrow-alt-circle-right mr-1"></i> {{ $t('navigation.register') }}
                      </router-link>
                      <div role="separator" class="dropdown-divider"></div>
                      <a href="javascript:void(0);" class="dropdown-item" @click.prevent="logout()" v-if="isLogged">
                        <i class="far fa-fw fa-arrow-alt-circle-left mr-1"></i> {{ $t('navigation.logout') }}
                      </a>
                      <router-link tag="a" href="javascript:void(0);" class="dropdown-item" to="/login" v-if="!isLogged">
                        <i class="far fa-fw fa-arrow-alt-circle-right mr-1"></i> {{ $t('navigation.login') }}
                      </router-link>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div id="page-header-loader" class="overlay-header bg-primary-darker">
        <div class="content-header">
            <div class="w-100 text-center">
                <i class="fa fa-fw fa-2x fa-sun fa-spin text-white"></i>
            </div>
        </div>
    </div>


    <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#nav-collapse"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Vue.js 2</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><router-link to="/">{{ $t('navigation.cinema') }}</router-link></li>
          <li><router-link to="/profile" v-if="isLogged">{{ $t('navigation.my_account') }}</router-link></li>
          <li><router-link to="/bookings" v-if="isLogged">{{ $t('navigation.bookings') }}</router-link></li>
          <language-selector></language-selector>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <router-link to="/login" v-if="!isLogged">{{ $t('navigation.login') }}</router-link>
          </li>
          <li>
            <router-link to="/register" v-if="isLogged">{{ $t('navigation.register') }}</router-link>
          </li>
          <li>
            <a href="#" @click.prevent="logout()" v-if="isLogged">{{ $t('navigation.logout') }}</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>-->
  </header>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import authTypes from '../types/auth';
  import LanguageSelector from "./LanguageSelector";
  export default {
    components: {LanguageSelector},
    name: 'navigation',
    methods: {
      ...mapActions({
        _logout: authTypes.actions.logout
      }),
      logout() {
          this._logout();
          Procredito.layout('sidebar_close');
          //jQuery('#page-container').removeClass('sidebar-o');
          this.$router.push({name: 'login'});
      }
    },
    computed: {
      ...mapGetters({
        isLogged: authTypes.getters.logged,
        isregisterform: authTypes.getters.isregisterform
      })
    }
  }
</script>
