<template>
  <nav id="sidebar" aria-label="Main Navigation" data-simplebar="init">
    <div class="simplebar-track vertical" style="visibility: visible;">
      <div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 110px;"></div>
    </div>
    <div class="simplebar-track horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar"></div>
    </div>
    <div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
      <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
        <div class="bg-header-dark">
            <div class="content-header bg-white-10">
              <a class="link-fx font-w600 font-size-lg text-white" href="index.html">
                  <span class="text-white-75">Dash</span><span class="text-white">mix</span>
              </a>
              <div>
                  <a class="js-class-toggle text-white-75" data-target="#sidebar-style-toggler" data-class="fa-toggle-off fa-toggle-on" data-toggle="layout" data-action="sidebar_style_toggle" href="javascript:void(0)">
                      <i class="fa fa-toggle-off" id="sidebar-style-toggler"></i>
                  </a>
                  <a class="d-lg-none text-white ml-2" data-toggle="layout" data-action="sidebar_close" href="javascript:void(0)">
                      <i class="fa fa-times-circle"></i>
                  </a>
              </div>
            </div>
        </div>
        <div class="content-side content-side-full">
          <ul class="nav-main">
            <li class="nav-main-item">
              <a class="nav-main-link active" href="javascript:void(0);">
                <i class="nav-main-link-icon si si-cursor"></i>
                <span class="nav-main-link-name">Procredito 2.0</span>
                <span class="nav-main-link-badge badge badge-pill badge-success">5</span>
              </a>
            </li>
            <li class="nav-main-heading">Seguridad</li>
            <li class="nav-main-item">
              <router-link tag="a" class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" to="/parametrizaciones" v-if="isLogged">
                <i class="nav-main-link-icon si si-puzzle"></i> <span class="nav-main-link-name">{{ $t('sidebar.parametrizer') }}</span>
              </router-link>
            </li>
            <li class="nav-main-item">
              <router-link tag="a" class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" to="/organizaciones" v-if="isLogged">
                <i class="nav-main-link-icon si si-puzzle"></i> <span class="nav-main-link-name">{{ $t('sidebar.organizations') }}</span>
              </router-link>
            </li>
            <li class="nav-main-item">
              <router-link tag="a" class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" to="/seguridad" v-if="isLogged">
                <i class="nav-main-link-icon si si-grid"></i> <span class="nav-main-link-name">{{ $t('sidebar.security') }}</span>
              </router-link>
            </li>
            <li class="nav-main-item">
              <router-link tag="a" class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" to="/reportes" v-if="isLogged">
                <i class="nav-main-link-icon si si-star"></i> <span class="nav-main-link-name">{{ $t('sidebar.report') }}</span>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import authTypes from '../types/auth';
  import {mapGetters} from 'vuex';
  export default {
    mounted() {
        //swal("Componente sidebar montado!!");
        console.log("Componente sidebar montado!!");
    },
    name: 'sidebar',
    computed: {
      ...mapGetters({
        isLogged: authTypes.getters.logged
      })
    }
  }
</script>
