<template>
  <div class="modal fade" id="modal-estado-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form class="js-validation-signin" novalidate="novalidate" autocomplete="off" @submit.prevent="validateBeforeSubmit">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{ $t('tipodocumento.edit') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="$emit('close')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input
            type="hideen"
            id="cod_tipo_documento"
            name="cod_tipo_documento"
            v-model="tipodocumento.cod_tipo_documento"
            >
            <div class="form-group">
                <input
                autocomplete="off"
                name="nombre_tipo_documento"
                v-model="tipodocumento.nombre_tipo_documento"
                v-validate
                data-vv-rules="required"
                class="form-control form-control-alt"
                type="text"
                id="nombre_tipo_documento"
                :placeholder="$t('tipodocumento.name')"
                :class="{ 'is-invalid' : errors.has('nombre_tipo_documento') }"
                :aria-describedby="{ 'nombre_tipo_documento-error' : errors.has('nombre_tipo_documento') }"
                :aria-invalid="{ true : errors.has('nombre_tipo_documento') }"
                >
                <div v-show="errors.has('nombre_tipo_documento')" id="nombre_tipo_documento-error" class="invalid-feedback animated fadeIn">
                  {{ errors.first('nombre_tipo_documento') }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click="$emit('close')">{{ $t('common.close') }}</button>
          <button type="submit" class="btn btn-primary">{{ $t('common.save') }}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'tipodocumento-edit',
    props: {
      tipodocumento: {
        type: Object,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      save: {
        type: String,
        required: true
      },
      close: {
        type: String,
        required: true
      }
    },
    mounted() {
      console.log('componente tipo documento edit montado.')
    },
    methods: {
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      validateBeforeSubmit () {
        this.$validator.validateAll().then(result => {
          if ( ! result) {
            //hay errores
          } else {
            this.$emit('processTipoDocumentoForm', this.tipodocumento);
          }
        })
      }
    }
  }
</script>
