<template>
  <div class="row">
    <div class="col-xl-6">
      <a href="javascript:void(0);" v-bind:data-edit="tipodocumento.cod_tipo_documento" data-toggle="tooltip" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Editar Tipo Documento" aria-describedby="tooltip425802">
        <i class="fa fa-fw fa-pencil-alt"></i>
      </a>
    </div>
    <div class="col-xl-6">
      <a href="javascript:void(0);" v-bind:data-delete="tipodocumento.cod_tipo_documento" data-toggle="tooltip" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Elimar Tipo Documento" aria-describedby="tooltip425802">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
</template>

<script>
export default {
    name: 'tipodocumento-item',
    props: {
      tipodocumento: {
        type: Object,
        required: true
      }
    },
    mounted() {
      console.log('componente tipo documento item montado.')
    },
    methods: {
      since: function(d) {
        return moment(d).fromNow();
      }
    }
  }
</script>
