<template>
  <div class="row row-deck">
    <div class="col-xl-12 js-appear-enabled animated fadeIn" data-toggle="appear">
      <div class="block block-rounded block-mode-loading-refresh">
        <div class="block-header block-header-default">
          <h3 class="block-title">{{ $t('tipodocumento.title') }}</h3>
          <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                <i class="si si-refresh"></i>
            </button>
            <button type="button" class="btn-block-option">
                <i class="si si-cloud-download"></i>
            </button>
            <div class="dropdown">
              <button type="button" class="btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="si si-wrench"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)" @click.prevent="show(tipodocumento)">
                  <i class="far fa-fw fa-user mr-1"></i> {{ $t('tipodocumento.new') }}
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="far fa-fw fa-bookmark mr-1"></i> {{ $t('tipodocumento.vip') }}
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-fw fa-pencil-alt"></i> {{ $t('tipodocumento.admin') }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">

          <!-- Pintando tabla tipos de documento -->
          <div v-if="tiposdocumento.length > 0">
            <v-client-table :data="tiposdocumento" :options="options" :columns="columns">
              <span slot="fecha_modificacion_tipo_documento" slot-scope="props">{{ since(props.row.fecha_modificacion_tipo_documento) }}</span>
              <tipodocumento-item slot="acciones" slot-scope="props" :tipodocumento="props.row" v-on:processShow="show($event)" v-on:processDelete="showModal($event)"></tipodocumento-item>
            </v-client-table>
          </div>
          <div v-else class="block block-rounded">
            <div class="block-header">
              <h3 class="block-title">{{ $t('tipodocumento.notfound') }}</h3>
            </div>
          </div>

          <modal name="modal-tipodocumento" width="70%" height="auto" :draggable="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose">
            <tipodocumento-edit v-on:close="hide" v-on:processEstadoForm="processTipoDocumento($event)" :estado="tipodocumento" :title="titlemodal(tipodocumento)" :save="$t('common.save')" :close="$t('common.close')" :name="$t('estado.name')"></tipodocumento-edit>
          </modal>

          <b-modal id="modal-tipodocumento-confirm" ref="modal" centered :title="$t('estado.delete')" v-model="modalShow" @ok="handleOk" @cancel="handleCancel">
            <p class="my-4">{{ $t('common.deleterecord') }}</p>
            <form @submit.stop.prevent="handleSubmit">
              <input
              type="hidden"
              v-model="tipodocumento.cod_tipo_documento"
              >
            </form>
          </b-modal>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import authTypes from '../../../types/auth';
  import tipodocumentoTypes from '../../../types/tipodocumento';
  import TipodocumentoItem from './TipodocumentoItem';
  import TipoDocumentoEdit from './TipoDocumentoEdit';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    components: {
      TipodocumentoItem,
      TipoDocumentoEdit
    },
    name: 'tipodocumento',
    props: {
      token: {
        type: String,
        required: true
      },
      isTipoDocumento: {
        type: Boolean
      }
    },
    data: function () {
      return {
        modalShow: false,
        tipodocumento: {
          cod_tipo_documento: 0,
          nombre_tipo_documento: ''
        },
        error: null,
        columns: ['cod_tipo_documento', 'nombre_tipo_documento' ,'fecha_modificacion_tipo_documento','acciones'],
        options: {
          templates: {
            TipodocumentoItem
          },
          columns: ['cod_tipo_documento', 'nombre_tipo_documento' ,'fecha_modificacion_tipo_documento'],
          filterByColumn: ['cod_tipo_documento', 'nombre_tipo_documento' ,'fecha_modificacion_tipo_documento'],
          sortable: ['cod_tipo_documento','nombre_tipo_documento','fecha_modificacion_tipo_documento'],
          filterable: ['cod_tipo_documento','nombre_tipo_documento','fecha_modificacion_tipo_documento'],
          uniqueKey:'cod_tipo_documento',
          orderBy: {
            ascending: false,
            column: 'cod_tipo_documento'
          },
          pagination: {
            chunk: 10,
            dropdown: false,
            nav: 'nav',
            edge: false,
            align: 'text-center'
          },
          perPage: 15,
          perPageValues: [1,5,15,30,50,100],
          rowClassCallback: function(row) {
            if((parseInt(row.cod_tipo_documento) % 2) == 0)
              return `table-active row-${row.cod_tipo_documento}`;
            else
              return `row-${row.cod_tipo_documento}`;
          },
          skin: 'table table-striped table-hover table-borderless table-vcenter font-size-sm',
          sortIcon: {
            base:'fas fa-chevron-down',
            up:'fas fa-chevron-up',
            down:'fas fa-chevron-down',
            is:'fas fa-sort'
          },
          headings: {
            cod_estado: 'Código',
            nombre_estado: 'Tipo Documento',
            fecha_modificacion_estado: 'Fecha Modificación',
            acciones: '',
          },
          toMomentFormat: 'MMMM Do YYYY, h:mm:ss a',
          columnsDropdown: true,
          dateFormat:"MMMM Do YYYY, h:mm:ss a",
          dateFormatPerColumn: {
            fecha_modificacion_estado: 'MMMM Do YYYY, h:mm:ss a'
          },
          texts:{
            count:"Visualizando {from} a {to} de {count} tipos de documento|{count} registros|Un registro",
            first:'Primero',
            last:'Ultimo',
            filter:"Filtro:",
            filterPlaceholder:"Busqueda",
            limit:"Registros:",
            page:"Página:",
            noResults:"No hay registros",
            filterBy:"Filtro por {column}",
            loading:'Cargando...',
            defaultOption:'Seleccionar {column}',
            columns:'Columnas'
          },
        },
      }
    },
    methods: {
      show(tipodocumento) {
        this.tipodocumento.cod_tipo_documento = tipodocumento.cod_tipo_documento;
        this.tipodocumento.nombre_tipo_documento = tipodocumento.nombre_tipo_documento;
        Procredito.layout('sidebar_close');
        this.$modal.show("modal-tipodocumento");
      },
      hide() {
        this.$modal.hide('modal-tipodocumento');
      },
      showModal(tipodocumento) {
        this.tipodocumento.cod_tipo_documento = tipodocumento.cod_tipo_documento;
        this.tipodocumento.nombre_tipo_documento = tipodocumento.nombre_tipo_documento;
        Procredito.layout('sidebar_close');
        this.$root.$emit('bv::show::modal','modal-tipodocumento-confirm')
      },
      hideModal() {
        this.$root.$emit('bv::hide::modal','modal-tipodocumento-confirm')
        //this.$refs.modal.hide()
      },
      handleOk (evt) {
        // Prevent modal from closing
        evt.preventDefault()
        if (this.tipodocumento.cod_tipo_documento == 0) {
          toastr.error('Error', 'No hay un código de tipo de documento válido seleccionado');
        } else {
          this.processDelete(this.tipodocumento);
        }
      },
      handleCancel () {
        this.$refs.modal.hide()
      },
      beforeOpen (event) {
        console.log(event);
      },
      beforeClose (event) {
        console.log(event);
        console.log('this will be called before the modal closes');
      },
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      changePage: function(page) {
        this.$store.dispatch(tipodocumentoTypes.actions.fetchTiposdocumento, {token: this.token, page: page});
      },
      ...mapActions({
        create: tipodocumentoTypes.actions.create,
        update: tipodocumentoTypes.actions.update,
        delete: tipodocumentoTypes.actions.delete,
      }),
      processTipoDocumento (tipodocumento) {
        console.log('Evento:',tipodocumento);
        if(tipodocumento.cod_tipo_documento == 0) {
          this.create({
            token: this.token,
            nombre_tipo_documento: tipodocumento.nombre_tipo_documento
          })
          .then(
          tipodocumento => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        } else {
          this.update({
            token: this.token,
            cod_tipo_documento: tipodocumento.cod_tipo_documento,
            nombre_tipo_documento: tipodocumento.nombre_tipo_documento
          })
          .then(
          tipodocumento => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      processDelete: function(tipodocumento) {
        if(tipodocumento.cod_tipo_documento != 0) {
          this.delete({
            token: this.token,
            cod_tipo_documento: tipodocumento.cod_tipo_documento
          })
          .then(
          tipodocumento => {
            this.tipodocumento.cod_tipo_documento = 0;
            this.tipodocumento.nombre_tipo_documento = '';
            //this.changePage(1);
            this.$refs.modal.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      titlemodal: function(tipodocumento) {
        return ((tipodocumento.cod_tipo_documento == 0) ? this.$i18n.t("tipodocumento.create") : this.$i18n.t("tipodocumento.edit"));
      }
    },
    mounted() {
      console.log('componente tipo documento montado.');
      this.$store.dispatch(tipodocumentoTypes.actions.fetchTiposdocumento, {token: this.token, page: 1});
    },
    computed: {
      ...mapGetters({
        //token: authTypes.getters.token,
        tiposdocumento: tipodocumentoTypes.getters.tiposdocumento,
        pagination: tipodocumentoTypes.getters.pagination
      })
    },
  }
</script>
