<template>
  <div>
    <div class="row">
      <div class="col-xl-6">
        <a href="javascript:void(0);" v-bind:data-edit="estado.cod_estado" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Editar Estado" aria-describedby="tooltip425802" @click.prevent="show(estado)">
          <i class="fa fa-fw fa-pencil-alt"></i>
        </a>
      </div>
      <div class="col-xl-6">
        <a href="javascript:void(0);" v-bind:data-eliminar="estado.cod_estado" data-toggle="tooltip" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Elimar Estado" aria-describedby="tooltip425802" @click.prevent="eliminar(estado)">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'estado-item',
    props: {
      estado: {
        type: Object,
        required: true
      }
    },
    mounted() {
      console.log('componente estado item montado.')
    },
    methods: {
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      show(estado) {
        this.$emit('processShow', estado);
      },
      eliminar(estado) {
        this.$emit('processDelete', estado);
      }
    }
  }
</script>
