<template>
  <div class="row row-deck">
    <div class="col-xl-12 js-appear-enabled animated fadeIn" data-toggle="appear">
      <div class="block block-rounded block-mode-loading-refresh">
        <div class="block-header block-header-default">
          <h3 class="block-title">{{ $t('estado.title') }}</h3>
          <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                <i class="si si-refresh"></i>
            </button>
            <button type="button" class="btn-block-option">
                <i class="si si-cloud-download"></i>
            </button>
            <div class="dropdown">
              <button type="button" class="btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="si si-wrench"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0);" @click.prevent="show(estado)">
                  <i class="far fa-fw fa-user mr-1"></i> {{ $t('estado.new') }}
                </a>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="far fa-fw fa-bookmark mr-1"></i> {{ $t('estado.vip') }}
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="fa fa-fw fa-pencil-alt"></i> {{ $t('estado.admin') }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">

          <div class="alert alert-danger" role="alert" v-if="error" v-html="$t('login.error')"></div>

          <!-- Pintando tabla estados -->
          <div v-if="estados.length > 0">
            <v-client-table class="" :data="estados" :options="options" :columns="columns" name="eventTableEstado">
              <span slot="fecha_modificacion_estado" slot-scope="props">{{ since(props.row.fecha_modificacion_estado) }}</span>
              <estado-item slot="acciones" slot-scope="props" :estado="props.row" v-on:processShow="show($event)" v-on:processDelete="showModal($event)"></estado-item>
            </v-client-table>
          </div>
          <div v-else class="block block-rounded">
            <div class="block-header">
              <h3 class="block-title">{{ $t('estado.notfound') }}</h3>
            </div>
          </div>

          <modal name="modal-estado" width="70%" height="auto" :draggable="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose">
            <estado-edit v-on:close="hide" v-on:processEstadoForm="processEstado($event)" :estado="estado" :title="titlemodal(estado)" :save="$t('common.save')" :close="$t('common.close')" :name="$t('estado.name')"></estado-edit>
          </modal>

          <b-modal id="modal-estado-confirm" ref="modal" centered :title="$t('estado.delete')" v-model="modalShow" @ok="handleOk" @cancel="handleCancel">
            <p class="my-4">{{ $t('common.deleterecord') }}</p>
            <form @submit.stop.prevent="handleSubmit">
              <input
              type="hidden"
              v-model="estado.cod_estado"
              >
            </form>
          </b-modal>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import authTypes from '../../../types/auth';
  import estadoTypes from '../../../types/estado';
  import EstadoEdit from './EstadoEdit';
  import EstadoItem from './EstadoItem';
  import {mapGetters, mapActions} from 'vuex';
  import VueI18n from 'vue-i18n';

  export default {
    components: {
      EstadoItem,
      EstadoEdit
    },
    name: 'estado',
    props: {
      token: {
        type: String,
        required: true
      },
      isEstado: {
        type: Boolean
      }
    },
    data: function () {
      return {
        modalShow: false,
        estado: {
          cod_estado: 0,
          nombre_estado: ''
        },
        error: null,
        columns: ['cod_estado', 'nombre_estado' ,'fecha_modificacion_estado','acciones'],
        options: {
          templates: {
            EstadoItem
          },
          columns: ['cod_estado', 'nombre_estado' ,'fecha_modificacion_estado'],
          filterByColumn: ['cod_estado', 'nombre_estado' ,'fecha_modificacion_estado'],
          sortable: ['cod_estado','nombre_estado','fecha_modificacion_estado'],
          filterable: ['cod_estado','nombre_estado','fecha_modificacion_estado'],
          uniqueKey:'cod_estado',
          orderBy: {
            ascending: false,
            column: 'cod_estado'
          },
          pagination: {
            align: 'text-center'
          },
          perPage: 15,
          perPageValues: [1,5,15,30,50,100],
          rowClassCallback: function(row) {
            if((parseInt(row.cod_estado) % 2) == 0)
              return `table-active row-${row.cod_estado}`;
            else
              return `row-${row.cod_estado}`;
          },
          skin: 'table table-striped table-hover table-borderless table-vcenter font-size-sm',
          sortIcon: {
            base:'fas fa-chevron-down',
            up:'fas fa-chevron-up',
            down:'fas fa-chevron-down',
            is:'fas fa-sort'
          },
          headings: {
            cod_estado: 'Código',
            nombre_estado: 'Estado',
            fecha_modificacion_estado: 'Fecha Modificación',
            acciones: '',
          },
          toMomentFormat: 'MMMM Do YYYY, h:mm:ss a',
          columnsDropdown: true,
          dateFormat:"MMMM Do YYYY, h:mm:ss a",
          dateFormatPerColumn: {
            fecha_modificacion_estado: 'MMMM Do YYYY, h:mm:ss a'
          },
          //dateColumns: ['fecha_modificacion_estado'],
          texts:{
            count:"Visualizando {from} a {to} de {count} estados|{count} registros|Un registro",
            first:'Primero',
            last:'Ultimo',
            filter:"Filtro:",
            filterPlaceholder:"Busqueda",
            limit:"Registros:",
            page:"Página:",
            noResults:"No hay registros",
            filterBy:"Filtro por {column}",
            loading:'Cargando...',
            defaultOption:'Seleccionar {column}',
            columns:'Columnas'
          },
        },
      }
    },
    methods: {
      show(estado) {
        this.estado.cod_estado = estado.cod_estado;
        this.estado.nombre_estado = estado.nombre_estado;
        Procredito.layout('sidebar_close');
        this.$modal.show("modal-estado");
      },
      hide() {
        this.$modal.hide('modal-estado');
      },
      showModal(estado) {
        this.estado.cod_estado = estado.cod_estado;
        this.estado.nombre_estado = estado.nombre_estado;
        Procredito.layout('sidebar_close');
        this.$root.$emit('bv::show::modal','modal-estado-confirm')
      },
      hideModal() {
        this.$root.$emit('bv::hide::modal','modal-estado-confirm')
        //this.$refs.modal.hide()
      },
      handleOk (evt) {
        // Prevent modal from closing
        evt.preventDefault()
        if (this.estado.cod_estado == 0) {
          toastr.error('Error', 'No hay un código de estado válido seleccionado');
        } else {
          this.processDelete(this.estado);
        }
      },
      handleCancel () {
        this.$refs.modal.hide()
      },
      beforeOpen (event) {
        console.log(event);
      },
      beforeClose (event) {
        console.log(event);
        console.log('this will be called before the modal closes');
      },
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      changePage: function(page) {
        this.$store.dispatch(estadoTypes.actions.fetchEstados, {token: this.token, page: page});
      },
      ...mapActions({
        createEstado: estadoTypes.actions.createEstado,
        updateEstado: estadoTypes.actions.updateEstado,
        deleteEstado: estadoTypes.actions.deleteEstado,
      }),
      processEstado (estado) {
        console.log('Evento:',estado);
        if(estado.cod_estado == 0) {
          this.createEstado({
            token: this.token,
            nombre_estado: estado.nombre_estado
          })
          .then(
          estado => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        } else {
          this.updateEstado({
            token: this.token,
            cod_estado: estado.cod_estado,
            nombre_estado: estado.nombre_estado
          })
          .then(
          estado => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      processDelete: function(estado) {
        if(estado.cod_estado != 0) {
          this.deleteEstado({
            token: this.token,
            cod_estado: estado.cod_estado
          })
          .then(
          estado => {
            this.estado.cod_estado = 0;
            this.estado.nombre_estado = '';
            //this.changePage(1);
            this.$refs.modal.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      titlemodal: function(estado) {
        return ((estado.cod_estado == 0) ? this.$i18n.t("estado.create") : this.$i18n.t("estado.edit"));
      }
    },
    mounted() {
      console.log('componente estado montado.');
      this.$store.dispatch(estadoTypes.actions.fetchEstados, {token: this.token, page: 1});
    },
    computed: {
      ...mapGetters({
        //token: authTypes.getters.token,
        estados: estadoTypes.getters.estados,
        pagination: estadoTypes.getters.pagination,
      })
    },
  }
</script>
