<template>

    <div class="block block-themed block-transparent mb-0">
        <div class="block-header bg-primary-dark">
            <h3 class="block-title">{{ title }}</h3>
            <div class="block-options">
                <button type="button" class="btn-block-option" @click="$emit('close')" aria-label="Close">
                    <i class="fa fa-fw fa-times"></i>
                </button>
            </div>
        </div>
        <form class="js-validation-signin" novalidate="novalidate" autocomplete="off" @submit.prevent="validateBeforeSubmit">
        <div class="block-content">
          <input
          type="hidden"
          id="cod_estado"
          name="cod_estado"
          v-model="estado.cod_estado"
          >
          <div class="form-group">
              <input
              autocomplete="off"
              name="nombre_estado"
              v-model="estado.nombre_estado"
              v-validate
              data-vv-rules="required"
              class="form-control form-control-alt"
              type="text"
              id="nombre_estado"
              :placeholder="name"
              :class="{ 'is-invalid' : errors.has('nombre_estado') }"
              :aria-describedby="{ 'nombre_estado-error' : errors.has('nombre_estado') }"
              :aria-invalid="{ true : errors.has('nombre_estado') }"
              >
              <div v-show="errors.has('nombre_estado')" id="nombre_estado-error" class="invalid-feedback animated fadeIn">
                {{ errors.first('nombre_estado') }}
              </div>
          </div>
        </div>
        <div class="block-content block-content-full text-right bg-light"><!-- data-dismiss="modal" -->
          <button type="button" class="btn btn-secondary" @click="$emit('close')">{{ close }}</button>
          <button type="submit" class="btn btn-primary">{{ $t('common.save') }}</button>
        </div>
        </form>
    </div>
</template>

<script>
  import authTypes from '../../../types/auth';
  import estadoTypes from '../../../types/estado';
  import {mapGetters, mapActions} from 'vuex';
  export default {
    name: 'estado-edit',
    props: {
      estado: {
        type: Object,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      save: {
        type: String,
        required: true
      },
      close: {
        type: String,
        required: true
      }
    },
    mounted() {
      console.log('componente estado edit montado.')
    },
    computed: {
      ...mapGetters({
        token: authTypes.getters.token,
      })
    },
    methods: {
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      validateBeforeSubmit () {
        this.$validator.validateAll().then(result => {
          if ( ! result) {
            //hay errores
          } else {
            this.$emit('processEstadoForm', this.estado);
            //this.processEstado(this.estado);
          }
        })
      },
      ...mapActions({
        createEstado: estadoTypes.actions.createEstado
      }),
      processEstado (estado) {
        this.createEstado({
          token: this.token,
          nombre_estado: estado.nombre_estado
        })
        .then(
        estado => {
          console.log(estado);
          this.$router.push('/');
        },
        error => {
          this.error = true;
        })
      }
    }
  }
</script>
