<template>
  <div id="app">
    <div id="page-container" class="enable-page-overlay side-scroll page-header-fixed page-header-dark side-trans-enabled">
      <div id="page-overlay"></div>
      <sidebar v-show="isLogged"></sidebar>
      <navigation></navigation>
      <main id="main-container" v-bind:style="styleObject">
        <div v-bind:class="classObject"> <!-- :class="{ 'content' : (isLogged && !isregisterform) } " -->
          <router-view></router-view>
        </div>
      </main>
    </div>
    <div v-if="processing">
      <BlockUI :message="$t('messages.processing')"></BlockUI>
    </div>
  </div>
</template>

<script>
  import globalTypes from './types/global';
  import authTypes from './types/auth';
  import {mapGetters} from 'vuex';
  import Navigation from './components/Navigation.vue';
  import Sidebar from './components/Sidebar.vue';
  export default {
    mounted() {
        //swal("Bienvenido a Procredito 2.0!!");
        console.log("Bienvenido a Procredito 2.0!!");
    },
    components: {
        Navigation,
        Sidebar
    },
    name: 'app',
    data () {
      return {
        msg: 'Bienvenido a procredito'
      }
    },
    computed: {
      ...mapGetters({
        processing: globalTypes.getters.processing,
        isLogged: authTypes.getters.logged,
        isregisterform: authTypes.getters.isregisterform
      }),
      styleObject: function() {
        console.log('es registro',this.isregisterform);
        if(!this.isLogged || this.isregisterform) {
           return {
             'padding-top': '0px !important'
           };
        }
        return '';
      },
      classObject: function() {
        if(this.isLogged && !this.isregisterform) {
           return 'content';
        } else {
           return '';
        }
      }
    }
  }
</script>

<style socpe>

</style>

