<template>
  <div class="row row-deck">
    <div class="col-xl-12 js-appear-enabled animated fadeIn" data-toggle="appear">
      <div class="block block-rounded block-mode-loading-refresh">
        <div class="block-header block-header-default">
          <h3 class="block-title">{{ $t('municipio.title') }}</h3>
          <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                <i class="si si-refresh"></i>
            </button>
            <button type="button" class="btn-block-option">
                <i class="si si-cloud-download"></i>
            </button>
            <div class="dropdown">
              <button type="button" class="btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="si si-wrench"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="far fa-fw fa-user mr-1"></i> {{ $t('municipio.new') }}
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="far fa-fw fa-bookmark mr-1"></i> {{ $t('municipio.vip') }}
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-fw fa-pencil-alt"></i> {{ $t('municipio.admin') }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">

          <!-- Pintando tabla municipios -->
          <div v-if="municipios.length > 0">
            <v-client-table :data="municipios" :columns="columns" :options="options">
              <span slot="fecha_modificacion_municipio" slot-scope="props">{{ since(props.row.fecha_modificacion_municipio) }}</span>
              <municipio-item slot="actions" slot-scope="props" :municipio="props.row" v-on:processShow="show($event)" v-on:processDelete="showModal($event)"></municipio-item>
            </v-client-table>
          </div>
          <div v-else class="block block-rounded">
            <div class="block-header">
              <h3 class="block-title">{{ $t('municipio.notfound') }}</h3>
            </div>
          </div>

          <modal name="modal-municipio" width="70%" height="auto" :draggable="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose">
            <municipio-edit v-on:close="hide" v-on:processMunicipioForm="processMunicipio($event)" :estado="municipio" :title="titlemodal(municipio)" :save="$t('common.save')" :close="$t('common.close')" :name="$t('estado.name')"></municipio-edit>
          </modal>

          <b-modal id="modal-municipio-confirm" ref="modal" centered :title="$t('municipio.delete')" v-model="modalShow" @ok="handleOk" @cancel="handleCancel">
            <p class="my-4">{{ $t('common.deleterecord') }}</p>
            <form @submit.stop.prevent="handleSubmit">
              <input
              type="hidden"
              v-model="municipio.cod_departamento"
              >
            </form>
          </b-modal>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import authTypes from '../../../types/auth';
  import municipioTypes from '../../../types/municipio';
  import MunicipioItem from './MunicipioItem';
  import MunicipioEdit from './MunicipioEdit';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    components: {
      MunicipioItem,
      MunicipioEdit
    },
    name: 'municipio',
    props: {
      token: {
        type: String,
        required: true
      },
      isMunicipio: {
        type: Boolean
      }
    },
    data: function () {
      return {
        modalShow: false,
        municipio: {
          cod_municipio: 0,
          nombre_municipio: ''
        },
        error: null,
        columns: ['cod_municipio', 'nombre_municipio', 'fecha_modificacion_municipio','actions'],
        options: {
          uniqueKey: 'cod_municipio',
          orderBy: {
            ascending: false,
            column: 'cod_municipio'
          },
          filterByColumn: ['cod_municipio', 'nombre_municipio' ,'fecha_modificacion_municipio'],
          columns: ['cod_municipio', 'nombre_municipio' ,'fecha_modificacion_municipio'],
          sortable: ['cod_municipio','nombre_municipio','fecha_modificacion_municipio'],
          filterable: ['cod_municipio','nombre_municipio','fecha_modificacion_municipio'],
          headings: {
            cod_municipio: 'Código',
            nombre_municipio: 'Municipio',
            fecha_modificacion_municipio: 'Fecha Modificación',
            actions: ''
          },
          templates: {
            MunicipioItem
          },
          skin: 'table table-striped table-hover table-borderless table-vcenter font-size-sm',
          sortIcon: {
            base:'fas fa-chevron-down',
            up:'fas fa-chevron-up',
            down:'fas fa-chevron-down',
            is:'fas fa-sort'
          },
          texts:{
            count:"Visualizando {from} a {to} de {count} municipios|{count} registros|Un registro",
            first:'Primero',
            last:'Ultimo',
            filter:"Filtro:",
            filterPlaceholder:"Busqueda",
            limit:"Registros:",
            page:"Página:",
            noResults:"No hay registros",
            filterBy:"Filtro por {column}",
            loading:'Cargando...',
            defaultOption:'Seleccionar {column}',
            columns:'Columnas'
          },
        }
      }
    },
    methods: {
      show(municipio) {
        this.municipio.cod_municipio = municipio.cod_municipio;
        this.municipio.nombre_municipio = municipio.nombre_municipio;
        Procredito.layout('sidebar_close');
        this.$modal.show("modal-municipio");
      },
      hide() {
        this.$modal.hide('modal-municipio');
      },
      showModal(municipio) {
        this.municipio.cod_municipio = municipio.cod_municipio;
        this.municipio.nombre_municipio = municipio.nombre_municipio;
        Procredito.layout('sidebar_close');
        this.$root.$emit('bv::show::modal','modal-municipio-confirm')
      },
      hideModal() {
        this.$root.$emit('bv::hide::modal','modal-municipio-confirm')
        //this.$refs.modal.hide()
      },
      handleOk (evt) {
        // Prevent modal from closing
        evt.preventDefault()
        if (this.municipio.cod_municipio == 0) {
          toastr.error('Error', 'No hay un código de municipio válido seleccionado');
        } else {
          this.processDelete(this.estado);
        }
      },
      handleCancel () {
        this.$refs.modal.hide()
      },
      beforeOpen (event) {
        console.log(event);
      },
      beforeClose (event) {
        console.log(event);
        console.log('this will be called before the modal closes');
      },
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      changePage: function(page) {
        this.$store.dispatch(municipioTypes.actions.fetchMunicipios, {token: this.token, page: page});
      },
      ...mapActions({
        createMunicipio: departamentoTypes.actions.createMunicipio,
        updateMunicipio: departamentoTypes.actions.updateMunicipio,
        deleteMunicipio: departamentoTypes.actions.deleteMunicipio,
      }),
      processMunicipio (municipio) {
        console.log('Evento:',municipio);
        if(municipio.cod_municipio == 0) {
          this.createMunicipio({
            token: this.token,
            nombre_municipio: municipio.nombre_municipio
          })
          .then(
          municipio => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        } else {
          this.updateMunicipio({
            token: this.token,
            cod_municipio: municipio.cod_municipio,
            nombre_municipio: municipio.nombre_municipio
          })
          .then(
          municipio => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      processDelete: function(municipio) {
        if(municipio.cod_municipio != 0) {
          this.deleteMunicipio({
            token: this.token,
            cod_municipio: municipio.cod_municipio
          })
          .then(
          municipio => {
            this.municipio.cod_municipio = 0;
            this.municipio.nombre_municipio = '';
            //this.changePage(1);
            this.$refs.modal.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      titlemodal: function(municipio) {
        return ((municipio.cod_municipio == 0) ? this.$i18n.t("estado.create") : this.$i18n.t("estado.edit"));
      }
    },
    mounted() {
      console.log('componente municipio montado.');
      this.$store.dispatch(municipioTypes.actions.fetchMunicipios, {token: this.token, page: 1});
    },
    computed: {
      ...mapGetters({
        //token: authTypes.getters.token,
        municipios: municipioTypes.getters.municipios,
        pagination: municipioTypes.getters.pagination,
      })
    },
  }
</script>
