<template>
  <div class="row">
    <div class="col-xl-6">
      <a href="javascript:void(0);" v-bind:data-edit="municipio.cod_estado" data-toggle="tooltip" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Editar Municipio" @click.prevent="show(municipio)">
        <i class="fa fa-fw fa-pencil-alt"></i>
      </a>
    </div>
    <div class="col-xl-6">
      <a href="javascript:void(0);" v-bind:data-delete="municipio.cod_estado" data-toggle="tooltip" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Elimar Municipio" @click.prevent="eliminar(municipio)">
        <i class="fas fa-trash"></i>
      </a>
    </div>
  </div>
</template>

<script>
export default {
    name: 'municipio-item',
    props: {
      municipio: {
        type: Object,
        required: true
      }
    },
    mounted() {
      console.log('componente municipio item montado.')
    },
    methods: {
      since: function(d) {
        return moment(d).fromNow();
      },
      show(municipio) {
        this.$emit('processShow', municipio);
      },
      eliminar(municipio) {
        this.$emit('processDelete', municipio);
      }
    }
  }
</script>
