<template>
  <div class="row">
      <div class="col-xl-12">
        <a href="javascript:void(0);" v-bind:data-edit="departamento.cod_departamento" data-toggle="tooltip" data-placement="left" title="" class="js-tooltip-enabled" data-original-title="Editar Estado" aria-describedby="tooltip425802">
          <i class="fa fa-fw fa-pencil-alt"></i>
        </a>
      </div>
  </div>
</template>

<script>
export default {
    name: 'departamento-item',
    props: {
      departamento: {
        type: Object,
        required: true
      }
    },
    mounted() {
      console.log('componente departamento item montado.')
    },
    methods: {
      since: function(d) {
        return moment(d).fromNow();
      }
    }
  }
</script>
