<template>
  <div class="row row-deck">
    <div class="col-xl-12 js-appear-enabled animated fadeIn" data-toggle="appear">
      <div class="block block-rounded block-mode-loading-refresh">
        <div class="block-header block-header-default">
          <h3 class="block-title">{{ $t('departamento.title') }}</h3>
          <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                <i class="si si-refresh"></i>
            </button>
            <button type="button" class="btn-block-option">
                <i class="si si-cloud-download"></i>
            </button>
            <div class="dropdown">
              <button type="button" class="btn-block-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="si si-wrench"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)" @click.prevent="show(estado)">
                  <i class="far fa-fw fa-user mr-1"></i> {{ $t('departamento.new') }}
                </a>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="far fa-fw fa-bookmark mr-1"></i> {{ $t('departamento.vip') }}
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                  <i class="fa fa-fw fa-pencil-alt"></i> {{ $t('departamento.admin') }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="block-content">

          <!-- Pintando tabla departamentos -->
          <div v-if="departamentos.length > 0">
            <v-client-table :data="departamentos" :columns="columns" :options="options">
              <span slot="fecha_modificacion_departamento" slot-scope="props">{{ since(props.row.fecha_modificacion_departamento) }}</span>
              <departamento-item slot="edit" slot-scope="props" :departamento="props.row"></departamento-item>
              <a slot="delete" slot-scope="props" href='javascript:void(0);' @click="showModal(props.row)"><i class='fas fa-eraser'></i></a>
            </v-client-table>
          </div>
          <div v-else class="block block-rounded">
            <div class="block-header">
              <h3 class="block-title">{{ $t('departamento.notfound') }}</h3>
            </div>
          </div>

          <modal name="modal-departamento" width="70%" height="auto" :draggable="true" :scrollable="true" @before-open="beforeOpen" @before-close="beforeClose">
            <estado-edit v-on:close="hide" v-on:processEstadoForm="processDepartamento($event)" :estado="departamento" :title="titlemodal(departamento)" :save="$t('common.save')" :close="$t('common.close')" :name="$t('estado.name')"></estado-edit>
          </modal>

          <b-modal id="modal-departamento-confirm" ref="modal" centered :title="$t('departamento.delete')" v-model="modalShow" @ok="handleOk" @cancel="handleCancel">
            <p class="my-4">{{ $t('common.deleterecord') }}</p>
            <form @submit.stop.prevent="handleSubmit">
              <input
              type="hidden"
              v-model="departamento.cod_departamento"
              >
            </form>
          </b-modal>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import authTypes from '../../../types/auth';
  import departamentoTypes from '../../../types/departamento';
  import DepartamentoItem from './DepartamentoItem';
  import DepartamentoEdit from './DepartamentoEdit';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    components: {
      DepartamentoItem,
      DepartamentoEdit
    },
    name: 'departamento',
    props: {
      token: {
        type: String,
        required: true
      },
      isDepartamento: {
        type: Boolean
      }
    },
    data: function () {
      return {
        modalShow: false,
        departamento: {
          cod_departamento: 0,
          nombre_departamento: ''
        },
        error: null,
        columns: ['cod_departamento', 'nombre_departamento', 'fecha_modificacion_departamento','edit','delete'],
        options: {
          uniqueKey: 'cod_departamento',
          orderBy: {
            ascending: false,
            column: 'cod_departamento'
          },
          filterByColumn: ['cod_departamento', 'nombre_departamento' ,'fecha_modificacion_departamento'],
          columns: ['cod_departamento', 'nombre_departamento' ,'fecha_modificacion_departamento'],
          sortable: ['cod_departamento','nombre_departamento','fecha_modificacion_departamento'],
          filterable: ['cod_departamento','nombre_departamento','fecha_modificacion_departamento'],
          headings: {
            cod_departamento: 'Código',
            nombre_departamento: 'Departamento',
            fecha_modificacion_departamento: 'Fecha Modificación',
            edit: '',
            delete: ''
          },
          templates: {
            DepartamentoItem
          },
          skin: 'table table-striped table-hover table-borderless table-vcenter font-size-sm',
          sortIcon: {
            base:'fas fa-chevron-down',
            up:'fas fa-chevron-up',
            down:'fas fa-chevron-down',
            is:'fas fa-sort'
          },
          texts:{
            count:"Visualizando {from} a {to} de {count} departamentos|{count} registros|Un registro",
            first:'Primero',
            last:'Ultimo',
            filter:"Filtro:",
            filterPlaceholder:"Busqueda",
            limit:"Registros:",
            page:"Página:",
            noResults:"No hay registros",
            filterBy:"Filtro por {column}",
            loading:'Cargando...',
            defaultOption:'Seleccionar {column}',
            columns:'Columnas'
          },
        },
      }
    },
    methods: {
      show(departamento) {
        this.departamento.cod_departamento = departamento.cod_departamento;
        this.departamento.nombre_departamento = departamento.nombre_departamento;
        Procredito.layout('sidebar_close');
        this.$modal.show("modal-departamento");
      },
      hide() {
        this.$modal.hide('modal-departamento');
      },
      showModal(departamento) {
        this.departamento.cod_departamento = departamento.cod_departamento;
        this.departamento.nombre_departamento = departamento.nombre_departamento;
        Procredito.layout('sidebar_close');
        this.$root.$emit('bv::show::modal','modal-departamento-confirm')
      },
      hideModal() {
        this.$root.$emit('bv::hide::modal','modal-departamento-confirm')
        //this.$refs.modal.hide()
      },
      handleOk (evt) {
        // Prevent modal from closing
        evt.preventDefault()
        if (this.estado.cod_estado == 0) {
          toastr.error('Error', 'No hay un código de departamento válido seleccionado');
        } else {
          this.processDelete(this.estado);
        }
      },
      handleCancel () {
        this.$refs.modal.hide()
      },
      beforeOpen (event) {
        console.log(event);
      },
      beforeClose (event) {
        console.log(event);
        console.log('this will be called before the modal closes');
      },
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      changePage: function(page) {
        this.$store.dispatch(departamentoTypes.actions.fetchDepartamentos, {token: this.token, page: page});
      },
      ...mapActions({
        createDepartamento: departamentoTypes.actions.createDepartamento,
        updateDepartamento: departamentoTypes.actions.updateDepartamento,
        deleteDepartamento: departamentoTypes.actions.deleteDepartamento,
      }),
      processDepartamento (departamento) {
        console.log('Evento:',departamento);
        if(departamento.cod_departamento == 0) {
          this.createDepartamento({
            token: this.token,
            nombre_departamento: departamento.nombre_departamento
          })
          .then(
          departamento => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        } else {
          this.updateDepartamento({
            token: this.token,
            cod_departamento: departamento.cod_departamento,
            nombre_departamento: departamento.nombre_departamento
          })
          .then(
          departamento => {
            //this.changePage(1);
            this.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      processDelete: function(departamento) {
        if(departamento.cod_departamento != 0) {
          this.deleteDepartamento({
            token: this.token,
            cod_departamento: departamento.cod_departamento
          })
          .then(
          departamento => {
            this.departamento.cod_departamento = 0;
            this.departamento.nombre_departamento = '';
            //this.changePage(1);
            this.$refs.modal.hide();
          },
          error => {
            console.log(error);
            this.error = true;
          });
        }
      },
      titlemodal: function(departamento) {
        return ((departamento.cod_departamento == 0) ? this.$i18n.t("estado.create") : this.$i18n.t("estado.edit"));
      }
    },
    mounted() {
      console.log('componente departamento montado.');
      this.$store.dispatch(departamentoTypes.actions.fetchDepartamentos, {token: this.token, page: 1});
    },
    computed: {
      ...mapGetters({
        //token: authTypes.getters.token,
        departamentos: departamentoTypes.getters.departamentos,
        pagination: departamentoTypes.getters.pagination,
      })
    }
  }
</script>
