<template>
  <div class="modal fade" id="modal-estado-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="js-validation-signin" novalidate="novalidate" autocomplete="off" @submit.prevent="validateBeforeSubmit">
            <input
            type="hideen"
            id="cod_departamento"
            name="cod_departamento"
            v-model="departamento.cod_departamento"
            >
            <div class="form-group">
                <input
                autocomplete="off"
                name="nombre_departamento"
                v-model="departamento.nombre_departamento"
                v-validate
                data-vv-rules="required"
                class="form-control form-control-alt"
                type="text"
                id="nombre_departamento"
                :placeholder="$t('estado.name')"
                :class="{ 'is-invalid' : errors.has('nombre_departamento') }"
                :aria-describedby="{ 'nombre_departamento-error' : errors.has('nombre_departamento') }"
                :aria-invalid="{ true : errors.has('nombre_departamento') }"
                >
                <div v-show="errors.has('nombre_departamento')" id="nombre_departamento-error" class="invalid-feedback animated fadeIn">
                  {{ errors.first('nombre_departamento') }}
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ $t('common.close') }}</button>
          <button type="submit" class="btn btn-primary">{{ $t('common.save') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'departamento-edit',
    props: {
      departamento: {
        type: Object,
        required: true
      }
    },
    mounted() {
      console.log('componente departamento edit montado.')
    },
    methods: {
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
      validateBeforeSubmit () {
        this.$validator.validateAll().then(result => {
          if ( ! result) {
            //hay errores
          } else {
            this.$emit('processDepartamentoForm', this.departamento);
          }
        })
      }
    }
  }
</script>
