<template>
  <div>
    <div class="alert alert-danger" role="alert" v-if="error" v-html="$t('login.error')"></div>

    <user-form
      v-show="!isLogged"
      :isLogin="true"
      :user="user"
      :btnText="$t('login.title')"
      v-on:processUserForm="processLogin($event)"
    ></user-form>

  </div>
</template>

<script>
  import authTypes from '../../types/auth';
  import {mapGetters, mapActions} from 'vuex';
  import UserForm from "./UserForm";
  export default {
    components: {UserForm},
    name: 'login',
    data () {
      return {
        user: {
          email: '',
          password: '',
        },
        error: null
      }
    },
    methods: {
      ...mapActions({
        login: authTypes.actions.login
      }),
      processLogin (user) {
        this.login({
          email: user.email,
          password: user.password
        })
          .then(
            user => {
              this.$router.push('/');
            },
            error => {
              this.error = true;
            })
      }
    },
    computed: {
      ...mapGetters({
        isLogged: authTypes.getters.logged
      })
    }
  }
</script>
