<template>
  <div>
    <div class="alert alert-danger" role="alert" v-if="error" v-html="$t('register.error')"></div>

    <user-register-form
      v-show="isLogged"
      :isRegister="true"
      :user="user"
      :btnText="$t('register.title')"
      v-on:processUserRegisterForm="processRegister($event)"
    ></user-register-form>

  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import authTypes from '../../types/auth';
  import UserRegisterForm from "./UserRegisterForm";
  export default {
    components: {UserRegisterForm},
    name: 'register',
    mounted () {

    },
    data () {
      return {
        user: {
          email: '',
          password: '',
          password_confirmation: '',
        },
        error: null
      }
    },
    methods: {
      ...mapActions({
        register: authTypes.actions.register,
        _logout: authTypes.actions.logout
      }),
      processRegister (user) {
        this.register({
          email: user.email,
          password: user.password
        })
          .then(res => {
            this._logout();
            this.$router.push({name: 'login'});
          }, err => {
            this.error = true
          })
      }
    },
    computed: {
      ...mapGetters({
        isLogged: authTypes.getters.logged
      })
    }
  }
</script>
