<template>
  <div>
    <div class="alert alert-danger" role="alert" v-if="error" v-html="$t('reset.error')"></div>

    <div class="row no-gutters justify-content-center bg-body-dark">
      <div class="hero-static col-sm-10 col-md-8 col-xl-6 d-flex align-items-center p-2 px-sm-0">
          <div class="block block-rounded block-transparent block-fx-pop w-100 mb-0 overflow-hidden bg-image" style="background-image: url('img/logofenalco.svg'); background-size: 250px; background-position: 50px 50px; background-repeat: no-repeat;">
              <div class="row no-gutters">
                  <div class="col-md-6 order-md-1 bg-white">
                      <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                          <div class="mb-2 text-center">
                              <a class="link-fx text-warning font-w700 font-size-h1" style="cursor:pointer;" @click.prevent="dashboard()">
                                  <span class="text-dark">Pro</span><span class="text-warning">crédito</span>
                              </a>
                              <p class="text-uppercase font-w700 font-size-sm text-muted">Recordar Contraseña</p>
                          </div>
                          <form class="js-validation-reminder" novalidate="novalidate" autocomplete="off" @submit.prevent="validateBeforeSubmit">
                              <div class="form-group">
                                  <input
                                    autocomplete="off"
                                    name="email"
                                    v-model="user.email"
                                    v-validate
                                    data-vv-rules="required|email"
                                    class="form-control form-control-alt"
                                    type="text"
                                    id="email"
                                    :placeholder="$t('reset.email')"
                                    :class="{ 'is-invalid' : errors.has('email') }"
                                    :aria-describedby="{ 'email-error' : errors.has('email') }"
                                    :aria-invalid="{ true : errors.has('email') }"
                                    >
                                    <div v-show="errors.has('email')" id="email-error" class="invalid-feedback animated fadeIn">
                                      {{ errors.first('email') }}
                                    </div>
                              </div>
                              <div class="form-group text-center">
                                  <button v-html="$t('reset.title')" type="submit" class="btn btn-block btn-hero-warning">
                                      <i class="fa fa-fw fa-reply mr-1"></i> Resetear Contraseña
                                  </button>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="col-md-6 order-md-0 bg-gd-sun-op d-flex align-items-center">
                      <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6 text-center">
                          <p class="font-size-h2 font-w700 text-white mb-0">
                            Este acceso es para empresarios PROCRÉDITO.
                          </p>
                          <p class="font-size-h3 font-w600 text-white-75 mb-0">
                            Fenalco, Antioquia
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>

  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';
  import authTypes from '../../types/auth';
  export default {
    name: 'reset',
    mounted () {

    },
    data () {
      return {
        user: {
          email: ''
        },
        error: null
      }
    },
    methods: {
      ...mapActions({
        reset: authTypes.actions.reset
      }),
      validateBeforeSubmit () {
        this.$validator.validateAll().then(result => {
          if ( ! result) {
            //hay errores
          } else {
            this.processReset(this.user);
          }
        })
      },
      processReset (user) {
        this.reset({
          email: user.email
        })
        .then(res => {
          this.$router.push({name: 'login'});
        }, err => {
          this.error = true;
        })
      },
      dashboard() {
          this.$router.push({path: '/'});
      },
    }
  }
</script>
