<template>

  <div class="row no-gutters justify-content-center bg-body-dark">
    <div class="hero-static col-sm-10 col-md-8 col-xl-6 d-flex align-items-center p-2 px-sm-0">
        <div class="block block-rounded block-transparent block-fx-pop w-100 mb-0 overflow-hidden bg-image" style="background-image: url('img/logofenalco.svg'); background-size: 250px; background-position: 50px 50px; background-repeat: no-repeat;">
            <div class="row no-gutters">
                <div class="col-md-6 order-md-1 bg-white">
                    <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                        <div class="mb-2 text-center">
                            <a class="link-fx font-w700 font-size-h1" style="cursor:pointer;" @click.prevent="dashboard()">
                                <span class="text-dark">Pro</span><span class="text-primary">crédito</span>
                            </a>
                            <p class="text-uppercase font-w700 font-size-sm text-muted">Login</p>
                        </div>
                        <form class="js-validation-signin" novalidate="novalidate" autocomplete="off" @submit.prevent="validateBeforeSubmit">
                            <div class="form-group">
                                <input
                                autocomplete="off"
                                name="email"
                                v-model="user.email"
                                v-validate
                                data-vv-rules="required|email"
                                class="form-control form-control-alt"
                                type="text"
                                id="email"
                                :placeholder="$t('register.email')"
                                :class="{ 'is-invalid' : errors.has('email') }"
                                :aria-describedby="{ 'email-error' : errors.has('email') }"
                                :aria-invalid="{ true : errors.has('email') }"
                                >
                                <div v-show="errors.has('email')" id="email-error" class="invalid-feedback animated fadeIn">
                                  {{ errors.first('email') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <input
                                autocomplete="off"
                                name="password"
                                v-model="user.password"
                                v-validate
                                data-vv-rules="required|min:6"
                                class="form-control form-control-alt"
                                type="password"
                                id="password"
                                :placeholder="$t('register.password')"
                                :class="{ 'is-invalid' : errors.has('password') }"
                                :aria-describedby="{ 'password-error' : errors.has('password') }"
                                :aria-invalid="{ true : errors.has('password') }"
                                >
                                <div v-show="errors.has('password')" id="password-error" class="invalid-feedback animated fadeIn">
                                  {{ errors.first('password') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <button v-html="btnText" type="submit" class="btn btn-block btn-hero-primary">
                                    <i class="fa fa-fw fa-sign-in-alt mr-1"></i> Ingresar
                                </button>
                                <p class="mt-3 mb-0 d-lg-flex justify-content-lg-between">
                                    <a class="btn btn-sm btn-light d-block d-lg-inline-block mb-1" @click.prevent="recordar()">
                                        <i class="fa fa-exclamation-triangle text-muted mr-1"></i> Recordar Contraseña
                                    </a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 order-md-0 bg-primary-dark-op d-flex align-items-center">
                    <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                        <div class="media">
                            <a class="img-link mr-3" href="javascript:void(0)">
                                <img class="img-avatar img-avatar-thumb" src="img/logo.svg" alt="Procredito">
                            </a>
                            <div class="media-body">
                                <p class="text-white font-w600 mb-1">
                                  Este acceso es para empresarios PROCRÉDITO.
                                  Para conocer más información sobre este servicio, haga clic en Inicio.
                                </p>
                                <a class="text-white-75 font-w600" href="https://www.fenalcoantioquia.com/" target="_blank">Fenalco, Antioquia</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

</template>

<script>
  import authTypes from '../../types/auth';
  import {mapActions} from 'vuex';
  export default {
    name: 'user-form',
    props: {
      user: {
        type: Object,
        required: true
      },
      isLogin: {
        type: Boolean
      },
      isRegister: {
        type: Boolean
      },
      isProfile: {
        type: Boolean
      },
      btnText: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        error: null
      }
    },
    methods: {
      validateBeforeSubmit () {
        this.$validator.validateAll().then(result => {
          if ( ! result) {
            //hay errores
          } else {
            this.$emit('processUserForm', this.user);
          }
        })
      },
      dashboard() {
          this.$router.push({path: '/'});
      },
      recordar() {
        this.$router.push({path: '/reset'});
      }
    }
  }
</script>
