<template>
  <div>

    <div class="row no-gutters justify-content-center bg-body-dark">
        <div class="hero-static col-sm-10 col-md-8 col-xl-6 d-flex align-items-center p-2 px-sm-0">
            <div class="block block-rounded block-transparent block-fx-pop w-100 mb-0 overflow-hidden bg-image" style="background-image: url('img/logofenalco.svg'); background-size: 250px; background-position: 50px 50px; background-repeat: no-repeat;">
                <div class="row no-gutters">
                    <div class="col-md-6 order-md-1 bg-white">
                        <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                            <div class="mb-2 text-center">
                                <a class="link-fx text-success font-w700 font-size-h1" style="cursor:pointer;" @click.prevent="dashboard()">
                                    <span class="text-dark">Pro</span><span class="text-success">crédito</span>
                                </a>
                                <p class="text-uppercase font-w700 font-size-sm text-muted">Crear una nueva cuenta</p>
                            </div>
                            <form class="js-validation-signup" novalidate="novalidate" autocomplete="off" @submit.prevent="validateBeforeSubmit">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-alt" id="signup-username" name="signup-username" placeholder="Username">
                                </div>
                                <div class="form-group">
                                  <input
                                  autocomplete="off"
                                  name="email"
                                  v-model="user.email"
                                  v-validate
                                  data-vv-rules="required|email"
                                  class="form-control form-control-alt"
                                  type="text"
                                  id="email"
                                  :placeholder="$t('register.email')"
                                  :class="{ 'is-invalid' : errors.has('email') }"
                                  :aria-describedby="{ 'email-error' : errors.has('email') }"
                                  :aria-invalid="{ true : errors.has('email') }"
                                  >
                                  <div v-show="errors.has('email')" id="email-error" class="invalid-feedback animated fadeIn">
                                    {{ errors.first('email') }}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <input
                                  autocomplete="off"
                                  name="password"
                                  v-model="user.password"
                                  v-validate
                                  data-vv-rules="required|min:6"
                                  class="form-control form-control-alt"
                                  type="password"
                                  id="password"
                                  :placeholder="$t('register.password')"
                                  :class="{ 'is-invalid' : errors.has('password') }"
                                  :aria-describedby="{ 'password-error' : errors.has('password') }"
                                  :aria-invalid="{ true : errors.has('password') }"
                                  >
                                  <div v-show="errors.has('password')" id="password-error" class="invalid-feedback animated fadeIn">
                                    {{ errors.first('password') }}
                                  </div>
                                </div>
                                <div class="form-group">
                                  <input
                                  autocomplete="off"
                                  name="password_confirmation"
                                  v-model="user.password_confirmation"
                                  v-validate
                                  data-vv-rules="'required|confirmed:password'"
                                  class="form-control form-control-alt"
                                  type="password"
                                  id="password_confirmation"
                                  :placeholder="$t('register.password_confirmation')"
                                  :class="{ 'is-invalid' : errors.has('password') }"
                                  :aria-describedby="{ 'password_confirmation-error' : errors.has('password_confirmation') }"
                                  :aria-invalid="{ true : errors.has('password_confirmation') }"
                                  >
                                  <div v-show="errors.has('password_confirmation')" id="password_confirmation-error" class="invalid-feedback animated fadeIn">
                                    {{ errors.first('password_confirmation') }}
                                  </div>
                                </div>
                                <div class="form-group">
                                    <a href="#" data-toggle="modal" data-target="#modal-terms">Terms &amp; Conditions</a>
                                    <div class="custom-control custom-checkbox custom-control-primary">
                                        <input type="checkbox" class="custom-control-input" id="signup-terms" name="signup-terms">
                                        <label class="custom-control-label" for="signup-terms">Estoy de acuerdo</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button v-html="btnText" type="submit" class="btn btn-block btn-hero-success">
                                        <i class="fa fa-fw fa-plus mr-1"></i> Regístrate
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-0 bg-xeco-op d-flex align-items-center">
                        <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                            <div class="media">
                                <a class="img-link mr-3" href="javascript:void(0)">
                                    <img class="img-avatar img-avatar-thumb" src="img/logo.svg" alt="">
                                </a>
                                <div class="media-body">
                                    <p class="text-white font-w600 mb-1">
                                      Este acceso es para empresarios PROCRÉDITO.
                                      Para conocer más información sobre este servicio, haga clic en Inicio.
                                    </p>
                                    <a class="text-white-75 font-w600" href="https://www.fenalcoantioquia.com/" target="_blank">Fenalco, Antioquia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="block block-themed block-transparent mb-0">
            <div class="block-header bg-primary-dark">
              <h3 class="block-title">Terminos &amp; Condiciones</h3>
              <div class="block-options">
                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                  <i class="fa fa-fw fa-times"></i>
                </button>
              </div>
            </div>
            <div class="block-content">
              <p><a class="text-black-75 font-w600" href="https://www.fenalcoantioquia.com/sites/default/files/pictures/p-pgc-6_politicas_de_tratamientos_web_version_0.pdf" target="_blank">Politicas de tratamiento de datos.</a></p>
              <p><a class="text-black-75 font-w600" href="https://www.fenalcoantioquia.com/sites/default/files/pictures/a-pgc-10_manual_interno_de_politicas_y_procedimientos_v_0.pdf" target="_blank">Manual interno de politicas y procedimientos.</a></p>
            </div>
            <div class="block-content block-content-full text-right bg-light">
              <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import authTypes from '../../types/auth';
  import {mapActions} from 'vuex';
  export default {
    name: 'user-register-form',
    props: {
      user: {
        type: Object,
        required: true
      },
      isLogin: {
        type: Boolean
      },
      isRegister: {
        type: Boolean
      },
      isProfile: {
        type: Boolean
      },
      btnText: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        error: null
      }
    },
    methods: {
      ...mapActions({
        _isregisterform: authTypes.actions.isregisterform
      }),
      validateBeforeSubmit () {
        this.$validator.validateAll().then(result => {
          if ( ! result) {
            //hay errores
          } else {
            this.$emit('processUserRegisterForm', this.user);
          }
        })
      },
      dashboard() {
          this._isregisterform();
          this.$router.push({path: '/'});
      },
    }
  }
</script>
