<template>
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="estados-settings-tab" data-toggle="pill" href="#estados-settings" role="tab" aria-controls="estados-index" aria-selected="true">Estados</a>
        <a class="nav-link" id="tipos-settings-tab" data-toggle="pill" href="#tipos-settings" role="tab" aria-controls="estados-create" aria-selected="false">Tipos</a>
        <a class="nav-link" id="departamentos-settings-tab" data-toggle="pill" href="#departamentos-settings" role="tab" aria-controls="estados-settings" aria-selected="false">Departamentos</a>
        <a class="nav-link" id="municipios-settings-tab" data-toggle="pill" href="#municipios-settings" role="tab" aria-controls="estados-settings" aria-selected="false">Municipios</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="estados-settings" role="tabpanel" aria-labelledby="estados-settings-tab">

          <!-- Incluyendo componente estado -->
          <estado
            v-show="isLogged"
            :isEstado="true"
            :token="token"
          ></estado>

        </div>
        <div class="tab-pane fade" id="tipos-settings" role="tabpanel" aria-labelledby="tipos-settings-tab">

          <!-- Incluyendo componente tipo documento -->
          <tipodocumento
            v-show="isLogged"
            :isTipoDocumento="true"
            :token="token"
          ></tipodocumento>

        </div>
        <div class="tab-pane fade" id="departamentos-settings" role="tabpanel" aria-labelledby="departamentos-settings-tab">

          <!-- Incluyendo componente departamento -->
          <departamento
            v-show="isLogged"
            :isDepartamento="true"
            :token="token"
          ></departamento>

        </div>
        <div class="tab-pane fade" id="municipios-settings" role="tabpanel" aria-labelledby="municipios-settings-tab">

          <!-- Incluyendo componente municipio -->
          <municipio
            v-show="isLogged"
            :isMunicipio="true"
            :token="token"
          ></municipio>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import authTypes from '../../types/auth';
  import estadoTypes from '../../types/estado';
  import {mapGetters, mapActions} from 'vuex';
  import Estado from './Estado/Estado';
  import Tipodocumento from './Tipodocumento/Tipodocumento';
  import Departamento from './Departamento/Departamento';
  import Municipio from './Municipio/Municipio';

  export default {
    components: {
      Estado,
      Tipodocumento,
      Departamento,
      Municipio
    },
    name: 'parametrizaciones',
    methods: {
      since: function(d) {
        return moment(d).format('MMMM de YYYY, h:mm:ss a');
      },
    },
    mounted() {
      console.log('componente parametrizaciones montado.');
      // Realiza una petición contra el servidor - Estado inicial
    },
    computed: {
      ...mapGetters({
        token: authTypes.getters.token,
        isLogged: authTypes.getters.logged,
      })
    },
    data: function () {
      return {
        estado: {
          cod_estado: 0,
          nombre_estado: ''
        },
        error: null
      }
    }
  }
</script>
